
body{
  font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */
.container-xl{
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.container-xl::after{
  content: '';
  display: table;
  clear: both;
}

[class*="col-"] {
  padding: 30px 20px 0 20px;
}

.text-over-img{
  text-align: center;
  font-size: 20px;
}


.text-over-img a{
  display: block;
}

h1{
  font-size: 36px;
}

h3{
  font-size: 34px;
  font-weight: 600;
}

ul li{
  display: inline-block;
  list-style: none;
  line-height: normal;
}

a{
  text-decoration: none;
}

ul a{
  margin: 0 10px;
  color: black;
}

/* HEADER */
header{
  line-height: 80px;
}

header ul{
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.lang{
  margin: 0;
  padding: 0 10px;
  border-left: 1px solid black;
}

.only-desktop{
  display: none;
}

@media screen and (min-width: 991px) {
  .only-desktop{
    display: block;
  }

  .hero .img-text h1{
    font-size: 48px;
  }
}

/* JUMBOTRON */
.hero{
  position: relative;
  height: 600px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.img-text{
  position: absolute;
  text-align: center;
  color: white;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.hero .img-text p{
  font-size: 16px;
}

/* MAIN */

/* HELBIZ PRODUCT */
.container-xl img{
  padding-top: 25px;
  height: 380px;
}

.product-size{
  padding:30px;
  background: #fafafa;
}

.product-size p{
  font-weight: 600;
}
